:root.theme-dark {
  --accent-color: #FF0070;
  --decor-color: #FF0070;
  --title-decor-text:#000028;
  --title-font-color: #DB00FF;
  --background-image: url('../images/cover-image-dark.png');
  --main-cards-text-color: #F1B2CE;
  --button-when-hover: #FF007066;
}

.theme-dark .header__rec {
  display: flex;
}
