:root.theme-light {
  --accent-color: #FF8DCB;
  --decor-color: #353430;
  --title-decor-text:#353430;
  --title-font-color: #FFC2E6;
  --background-image: url('../images/cover-image-light.png');
  --main-cards-text-color: #353430;
  --button-when-hover: #32312D66;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --decor-color: #353430;
    --title-decor-text:#353430;
    --title-font-color: #FFC2E6;
    --background-image: url('../images/cover-image-light.png');
    --main-cards-text-color: #353430;
    --button-when-hover: #32312D66;
  }

  .header__rec {
    display: none;
  }
}

.theme-light .header__rec {
  display: none;
}